In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import get_dummies from google.colab import files

In [3]:
from google.colab import files
uploaded = files.upload()
uploaded1 = files.upload()

Saving Data_Train.xlsx to Data_Train.xlsx

Saving Data_Test.xlsx to Data_Test.xlsx

In [0]:
import io
dfTest = pd.read_excel(io.BytesIO(uploaded1['Data_Test.xlsx'])) #Loading and viewing the test dataset
dfTrain = pd.read_excel(io.BytesIO(uploaded['Data_Train.xlsx'])) #Loading and viewing the train dataset

In [11]:
dfTest.dropna(inplace = True)
dfTrain.dropna(inplace = True)
dfTest['Price'] = 1e8
print(dfTest.head(), dfTrain.head())

                                        Name    Location  ...  Seats        Price
0                    Maruti Alto K10 LXI CNG       Delhi  ...    4.0  100000000.0
1              Maruti Alto 800 2016-2019 LXI  Coimbatore  ...    5.0  100000000.0
2  Toyota Innova Crysta Touring Sport 2.4 MT      Mumbai  ...    7.0  100000000.0
3                       Toyota Etios Liva GD   Hyderabad  ...    5.0  100000000.0
4                          Hyundai i20 Magna      Mumbai  ...    5.0  100000000.0

[5 rows x 12 columns]                                Name    Location  Year  ...      Power Seats  Price
0            Maruti Wagon R LXI CNG      Mumbai  2010  ...  58.16 bhp   5.0   1.75
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015  ...  126.2 bhp   5.0  12.50
2                      Honda Jazz V     Chennai  2011  ...   88.7 bhp   5.0   4.50
3                 Maruti Ertiga VDI     Chennai  2012  ...  88.76 bhp   7.0   6.00
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013  ...  140.8 bhp   5.0  17.74

[5 rows x 12 columns]

In [27]:
frames = [dfTrain, dfTest]
dfCombined = pd.concat(frames)
dfCombined.reset_index(drop = True, inplace = True)
dfCombined.shape

(7198, 12)

In [28]:
print(dfCombined.head())
print(dfCombined.tail())

                               Name    Location  Year  ...      Power Seats  Price
0            Maruti Wagon R LXI CNG      Mumbai  2010  ...  58.16 bhp   5.0   1.75
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015  ...  126.2 bhp   5.0  12.50
2                      Honda Jazz V     Chennai  2011  ...   88.7 bhp   5.0   4.50
3                 Maruti Ertiga VDI     Chennai  2012  ...  88.76 bhp   7.0   6.00
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013  ...  140.8 bhp   5.0  17.74

[5 rows x 12 columns]
                                                   Name  ...        Price
7193                  Volkswagen Vento Diesel Trendline  ...  100000000.0
7194                             Volkswagen Polo GT TSI  ...  100000000.0
7195                             Nissan Micra Diesel XV  ...  100000000.0
7196                             Volkswagen Polo GT TSI  ...  100000000.0
7197  Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...  ...  100000000.0

[5 rows x 12 columns]

In [0]:
dfCombined['Mileage'] = dfCombined['Mileage'].apply(lambda x: float(list(x.split(' '))[0]))
dfCombined['Engine'] = dfCombined['Engine'].apply(lambda x: float(list(x.split(' '))[0]))  #Cleaning the data a little bit
dfCombined['Power'] = dfCombined['Power'].apply(lambda x: list(x.split(' '))[0]) #from experience, power has a 'null' string entry
lisNull = [index for index, element in enumerate(dfCombined['Power']) if element == 'null']
dfCombined.drop(lisNull, inplace = True)
dfCombined['Power'] = dfCombined['Power'].astype('float64')

In [30]:
dfCombined.head()
dfCombined.shape

(7073, 12)

In [31]:
#Vectorising the text data, lemmatisation and other advanced text normalisation wasn't done because of obvious reasons

textData = dfCombined['Name']
from sklearn.feature_extraction.text import TfidfVectorizer
vectoriser = TfidfVectorizer()
textData = vectoriser.fit_transform(textData)

from sklearn.decomposition import TruncatedSVD

svDec = TruncatedSVD(n_components=5, n_iter=10)

textDataTransformed = svDec.fit_transform(textData)
textDataTransformed.shape

dfCombined.drop(['Name'], axis = 1, inplace = True)

dfCombined = pd.concat([dfCombined, pd.DataFrame(textDataTransformed)], axis = 1)
dfCombined.head()

     Location    Year  Kilometers_Driven  ...         2         3         4
0      Mumbai  2010.0            72000.0  ... -0.008919  0.006582 -0.021047
1        Pune  2015.0            41000.0  ... -0.000391  0.029244  0.062713
2     Chennai  2011.0            46000.0  ...  0.395627 -0.058941  0.019167
3     Chennai  2012.0            87000.0  ... -0.015554 -0.018619  0.006441
4  Coimbatore  2013.0            40670.0  ...  0.010114  0.114445  0.211779

[5 rows x 16 columns]

In [0]:
mEnc = pd.get_dummies(dfCombined, columns = ['Location', 'Fuel_Type', 'Transmission', 'Owner_Type'])

In [33]:
mEnc.head()

     Year  Kilometers_Driven  ...  Owner_Type_Second  Owner_Type_Third
0  2010.0            72000.0  ...                  0                 0
1  2015.0            41000.0  ...                  0                 0
2  2011.0            46000.0  ...                  0                 0
3  2012.0            87000.0  ...                  0                 0
4  2013.0            40670.0  ...                  1                 0

[5 rows x 33 columns]

In [37]:
mEnc.shape

(7197, 33)

In [0]:
mEnc.dropna(inplace = True)
mEnc.reset_index(drop = True, inplace = True)

In [43]:
from scipy import stats
zScore = np.abs(stats.zscore(mEnc['Kilometers_Driven']))
R = mEnc[zScore < 3]
R.info()
zScore = np.abs(stats.zscore(R['Mileage']))
R = R[zScore < 3]
# R.info()
zScore = np.abs(stats.zscore(R['Engine']))
R = R[zScore < 3]
# R.info()
zScore = np.abs(stats.zscore(R['Power']))
R = R[zScore < 3]
R.fillna(1e8, inplace = True)
RN = R[R['Price']==1e8]
RP = R[R['Price']!= 1e8]
print(RN.shape, RP.shape)
RN.reset_index(drop = True, inplace = True)
RP.reset_index(drop=True, inplace = True)

zScore = np.abs(stats.zscore(RP['Price']))
RP = RP[zScore < 3]

framesNew = [RN, RP]
rEnc = pd.concat(framesNew)
rEnc.reset_index(drop=True, inplace = True)
rEnc.info()

rEncY = rEnc.iloc[:, 6]
rEnc.drop(['Price'], axis = 1, inplace= True)
rEnc.head()
rEnc = rEnc.apply(lambda x: (x-np.mean(x))/(np.std(x)))
rEnc.head()

rEnc['Price'] = rEncY
rEnc.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6941 entries, 0 to 6948
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       6941 non-null   float64
 1   Kilometers_Driven          6941 non-null   float64
 2   Mileage                    6941 non-null   float64
 3   Engine                     6941 non-null   float64
 4   Power                      6941 non-null   float64
 5   Seats                      6941 non-null   float64
 6   Price                      6941 non-null   float64
 7   0                          6941 non-null   float64
 8   1                          6941 non-null   float64
 9   2                          6941 non-null   float64
 10  3                          6941 non-null   float64
 11  4                          6941 non-null   float64
 12  Location_Ahmedabad         6941 non-null   uint8
 13  Location_Bangalore         6941 non-null   uint8
 14  Location_Chennai           6941 non-null   uint8
 15  Location_Coimbatore        6941 non-null   uint8
 16  Location_Delhi             6941 non-null   uint8
 17  Location_Hyderabad         6941 non-null   uint8
 18  Location_Jaipur            6941 non-null   uint8
 19  Location_Kochi             6941 non-null   uint8
 20  Location_Kolkata           6941 non-null   uint8
 21  Location_Mumbai            6941 non-null   uint8
 22  Location_Pune              6941 non-null   uint8
 23  Fuel_Type_CNG              6941 non-null   uint8
 24  Fuel_Type_Diesel           6941 non-null   uint8
 25  Fuel_Type_LPG              6941 non-null   uint8
 26  Fuel_Type_Petrol           6941 non-null   uint8
 27  Transmission_Automatic     6941 non-null   uint8
 28  Transmission_Manual        6941 non-null   uint8
 29  Owner_Type_First           6941 non-null   uint8
 30  Owner_Type_Fourth & Above  6941 non-null   uint8
 31  Owner_Type_Second          6941 non-null   uint8
 32  Owner_Type_Third           6941 non-null   uint8
dtypes: float64(12), uint8(21)
memory usage: 847.3 KB
(1052, 33) (5690, 33)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6616 entries, 0 to 6615
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       6616 non-null   float64
 1   Kilometers_Driven          6616 non-null   float64
 2   Mileage                    6616 non-null   float64
 3   Engine                     6616 non-null   float64
 4   Power                      6616 non-null   float64
 5   Seats                      6616 non-null   float64
 6   Price                      6616 non-null   float64
 7   0                          6616 non-null   float64
 8   1                          6616 non-null   float64
 9   2                          6616 non-null   float64
 10  3                          6616 non-null   float64
 11  4                          6616 non-null   float64
 12  Location_Ahmedabad         6616 non-null   uint8
 13  Location_Bangalore         6616 non-null   uint8
 14  Location_Chennai           6616 non-null   uint8
 15  Location_Coimbatore        6616 non-null   uint8
 16  Location_Delhi             6616 non-null   uint8
 17  Location_Hyderabad         6616 non-null   uint8
 18  Location_Jaipur            6616 non-null   uint8
 19  Location_Kochi             6616 non-null   uint8
 20  Location_Kolkata           6616 non-null   uint8
 21  Location_Mumbai            6616 non-null   uint8
 22  Location_Pune              6616 non-null   uint8
 23  Fuel_Type_CNG              6616 non-null   uint8
 24  Fuel_Type_Diesel           6616 non-null   uint8
 25  Fuel_Type_LPG              6616 non-null   uint8
 26  Fuel_Type_Petrol           6616 non-null   uint8
 27  Transmission_Automatic     6616 non-null   uint8
 28  Transmission_Manual        6616 non-null   uint8
 29  Owner_Type_First           6616 non-null   uint8
 30  Owner_Type_Fourth & Above  6616 non-null   uint8
 31  Owner_Type_Second          6616 non-null   uint8
 32  Owner_Type_Third           6616 non-null   uint8
dtypes: float64(12), uint8(21)
memory usage: 756.1 KB

       Year  Kilometers_Driven  ...  Owner_Type_Third        Price
0 -0.136709          -0.093197  ...         -0.135337  100000000.0
1  1.134503          -0.698360  ...         -0.135337  100000000.0
2  0.181094          -0.846012  ...         -0.135337  100000000.0
3  0.816700           0.825667  ...         -0.135337  100000000.0
4  0.498897           0.039896  ...         -0.135337  100000000.0

[5 rows x 33 columns]

In [0]:
rEnc.to_csv('combibedSetNormalisedZScoreDimensionReduced.csv')

In [45]:
from google.colab import drive
drive.mount('drive', force_remount=True)
!cp combibedSetNormalisedZScoreDimensionReduced.csv "drive/My Drive/"

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at drive